<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <!-- Background image -->
    <div id="bg-image"></div>
    <!-- Main container -->
    <main id="app">
        <!-- Editor buttons -->
        <div id="editor">
            <button v-if="!this.editor" @click="startEditor()">Edit</button>
            <template v-else>
                <button @click="stopEditor()">Exit</button>
                <button @click="newSectionButton()">Add section</button>
            </template>
        </div>
        <!-- Main content -->
        <h1>DashBoard</h1>
        <hr>
        <!-- All sections -->
        <section v-for="section in sections" :key="section.id">
            <div>
                <h2>{{ section.title }}</h2>
                <!-- coin : id -->
                <div v-if="this.editor" class="coin-container">
                    <div class="coin" title="section id">{{ section.id }}</div>
                </div>
                <!-- Left - coin buttons : delete, edit, move -->
                <div v-if="this.editor" class="coin-container">
                    <button class="coin" title="Delete" @click="deleteSection(section.id)">
                        <img class="icon" alt="delete icon" src="assets/icons/bin.png">
                    </button>
                    <button class="coin" title="Rename" @click="renameSection(section.id)">
                        <img class="icon" alt="edit icon" src="assets/icons/pencil.png">
                    </button>
                    <button class="coin" title="Move" @click="moveSection(section.id)">
                        <img class="icon" alt="move icon" src="assets/icons/move.png">
                    </button>
                </div>
            </div>
            
            <!-- All bubbles -->
            <div class="bubbles">
                <div 
                    v-for="bubble in section.bubbles" 
                    :key="bubble.id"
                    class="bubble"
                    @click="if(!this.editor)goToLink(bubble.url);"
                    :style="{ backgroundColor: bubble.color, color: getTextColor(bubble.color) }"
                    :edited="bubble.editor || false"
                >
                    <!-- Right - coin : id -->
                    <div v-if="this.editor && !bubble.editor" class="coin-container">
                        <div class="coin" title="bubble id">{{ bubble.id }}</div>
                    </div>
                    <!-- Left - coin buttons : delete, edit, move -->
                    <div v-if="this.editor && !bubble.editor" class="coin-container">
                        <button class="coin" title="Delete" @click="deleteBubble(section.id,bubble.id)">
                            <img class="icon" alt="delete icon" src="assets/icons/bin.png">
                        </button>
                        <button class="coin" title="Edit" @click="startBubbleEditor(section.id,bubble.id)">
                            <img class="icon" alt="edit icon" src="assets/icons/pencil.png">
                        </button>
                        <button class="coin" title="Move" @click="moveBubble(section.id,bubble.id)">
                            <img class="icon" alt="move icon" src="assets/icons/move.png">
                        </button>
                    </div>
                    <!-- bubble editor -->
                    <form v-if="bubble.editor" :id="'' + section.id + ',' + bubble.id">
                        <label for="name">Name:*</label>
                        <input type="text" id="name" name="name" placeholder="My website" :value="bubble.name" required>
                        <br>
                        <label for="url">URL:*</label>
                        <input type="url" id="url" name="url" placeholder="https://example.com" :value="bubble.url" required>
                        <br>
                        <label for="color">Color:*</label>
                        <input type="color" id="color" name="color" :value="bubble.color" required> 
                        <br>
                        <label for="image">Image:</label>
                        <input type="file" id="image" accept="image/*" name="image">
                        <button type="button" value="Ok" @click="submitFormBubble(section.id,bubble.id)">Ok</button>
                    </form>
                    <!-- bubble image -->
                    <img v-else-if="bubble.image"  :src="'assets/images/' + bubble.image" :alt="bubble.name">
                    <!-- bubble name -->
                    <span v-else>{{ bubble.name }}</span>
                </div>
                <!-- Add a new bubble -->
                <div 
                    v-if="this.editor"
                    class="bubble"
                    style="background-color: grey; color: black;"
                    @click="startBubbleEditor(section.id,null)"
                    edited="false"
                >
                    <span>New link</span>
                </div>
            </div>
            <hr>
        </section>
    </main>
        
    <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
    <script src="app.js" type="module"></script>
</body>
</html>